 * {
    margin: 0;
    padding: 0;
   }
   
body {
    background-image: url('bg.png'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
   }
  
  a {
	  text-decoration: none;
	  color: #fff;
  }
  
  a:hover {
	  text-decoration: none;
	  color: #fff;
  }
  
#maxlogo {
	height: 30%;
	margin-top: 10%;
}

.logo {
	text-align: center;
}

.option {
	text-align: center;
	margin-top: 5%;
}

.option p {
	margin-top: 3%;
}

.col-md-4{
	margin-top: 5%;
}

.authreg{
	text-align: center;
	margin-top: 5%;
}

button {
	padding: 10 55 10 55;
	outline: none;
	background-color: transparent;
	border-radius: 7px;
	font-weight: 550;
}

.rules {
	font-size: 10px;
	text-align: center;
	margin-top: 25%;
}

input {
	background-color: transparent;
	outline: none;
	border-radius: 7px;
	text-align: center;
	color: #fff;
	padding: 10 55 10 55;
}